@mixin navigation {
    &-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    &-item {
        list-style-type: none;
    }

    &-link {
        color: color(primary);
        text-decoration: none;
        font-size: size(sm);
        transition: all 0.3s;

        &:hover {
            color: lighten(color(primary), 40%);
        }
    }
}

@mixin flexPositon($justContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justContent;
    align-items: $alignItems;
}

@mixin footerList {
    &-heading {
        font-size: size(lg);
        color: color(primary);
    }

    &-item {
        list-style-type: none;
        margin: 1rem 0;
    }

    &-link {
        text-decoration: none;
        font-size: size(xs);
        color: lighten(color(primary), 15%);
        transition: color 0.2s;

        &:hover {
        color: lighten(color(primary), 35%);
        }
    }
}

@mixin response($breakpoint) {
    @if($breakpoint == xl) {
        @media(max-width: 1200px) {
            @content;
        }
    }
}