* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(6rem, 1fr) (minmax(min-content, 16rem))[8] minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(-webkit-min-content, 16rem)) minmax(6rem, 1fr);
      grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem;
  background-color: #f1f0f2;
}

.header {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (minmax(min-content, 16rem))[7] 1fr;
      grid-template-columns: 1fr repeat(7, minmax(-webkit-min-content, 16rem)) 1fr;
      grid-template-columns: 1fr repeat(7, minmax(min-content, 16rem)) 1fr;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
}

.first-nav {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.first-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.first-nav-item {
  list-style-type: none;
}

.first-nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.first-nav-link:hover {
  color: #999999;
}

.second-nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.second-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.second-nav-item {
  list-style-type: none;
}

.second-nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.second-nav-link:hover {
  color: #999999;
}

.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: 1rem;
}

.logo-img {
  width: 10rem;
  height: 100%;
}

.heading {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  text-align: center;
}

.heading-text {
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
}

.dropdown-li {
  position: relative;
}

.dropdown-li::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f078';
  font-weight: bold;
}

.dropdown {
  position: absolute;
  top: 3rem;
  right: -2.8rem;
  width: 10rem;
  background-color: #e4e2e6;
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
}

.dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dropdown-item {
  list-style-type: none;
}

.dropdown-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown-link:hover {
  color: #999999;
}

.dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.5rem;
  left: 7.3rem;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e4e2e6;
}

.dropdown-item {
  margin: 0.5rem 0;
}

.dropdown-link {
  font-weight: 300;
  font-size: 1.6rem;
}
/*# sourceMappingURL=style.css.map */